<div class="pagination">
  <ul>
    <li><a href="#{{channel.id}}/{{previous_date}}" data-broadcast="show">&laquo; {{previous_date_string}}</a></li>
    <li class="active"><span>{{current_date}}</span></li>
    <li><a href="#{{channel.id}}/{{next_date}}" data-broadcast="show">{{next_date_string}} &raquo;</a></li>
  </ul>
</div>

<dl class="component timeline timeline-vertical">
  {{#each broadcasts}}
    {{#if subtitle}}<dt class="subtitle"><span>{{subtitle}}</span></dt>{{/if}}
    <dd class="broadcast" data-episode-id="{{episode_pid}}">
        <a href="http://www.bbc.co.uk/programmes/{{episode_pid}}">
            <span class="title">{{title}}</span>
            <span class="metadata time-starts">{{start_hourtime}}</span>
            <span class="metadata duration">{{duration_in_minutes}}&prime;</span>
        </a>
    </dd>
  {{/each}}
</dl>